#navigation {
    dock: left;
    width: 35%;
    height: 100%;
    layout: vertical;
}
#behavior {
    height: 1fr;
    overflow-x: auto;
    overflow-y: auto;
}

.cfg-node {
    height: auto;
    width: auto;
}

.hidden {
    display: none;
}

#display {
    layout: vertical;
}
#info {
    width: auto;
    height: 2fr;
    border: solid dimgrey;
    overflow: auto scroll;
}
#term {
    width: auto;
    height: 15fr;
    overflow: auto scroll;
}
#constraint {
    width: auto;
    height: 5fr;
    overflow: auto scroll;
}
#custom {
    width: auto;
    height: 15fr;
    overflow: auto scroll;
}
.selected {
    border: solid white;
}
.deselected {
    border: solid dimgrey;
}
