#navigation {
    dock: left;
    width: 35%;
    height: 100%;
    layout: vertical;
}
#behavior {
    height: 1fr;
    border: solid;
    overflow-x: auto;
    overflow-y: auto;
}

.cfg-node {
    height: auto;
    width: auto;
}

#display {
    layout: vertical;
}
#info {
    height: 2fr;
    border: solid;
}
#term {
    height: 15fr;
    border: solid;
}
#constraint {
    height: 5fr;
    border: solid;
}
#info-header {
    dock: top;
    width: auto;
    height: 1;
}
#term-header {
    dock: top;
    width: auto;
    height: 1;
}
#constraint-header {
    dock: top;
    width: auto;
    height: 1;
}
#info-content {
    width: auto;
    height: auto;
    overflow: auto;
}
#term-content {
    width: auto;
    height: auto;
    overflow: auto;
}
#constraint-content {
    width: auto;
    height: auto;
    overflow: auto;
}
