#navigation {
    dock: left;
    width: 35%;
    height: 100%;
    layout: vertical;
}
#display-options {
    height: 1fr;
    border: solid;
    overflow-y: auto;
}
#behavior {
    height: 10fr;
    border: solid;
    overflow-x: auto;
    overflow-y: auto;
}

.cfg-node {
    height: auto;
    width: auto;
}

#display {
    layout: vertical;
}
#info {
    height: 2fr;
}
#term {
    height: 15fr;
}
#constraint {
    height: 5fr;
}

.display-view-wrapper {
    height: auto;
    width: 100%;
    border: solid;
    overflow-x: auto;
    overflow-y: auto;
}

.display-view-header {
    dock: top;
    width: auto;
    height: 1;
}

.display-view-content {
    width: auto;
    height: 100%;
}
