#behavior-view {
    width: 35%;
    overflow: auto scroll;
    overflow-x: auto;
}
#behavior {
    width: auto;
}

#node-view {
    width: 65%;
    overflow: auto scroll;
    overflow-x: auto;
}
#node {
    width: auto;
}
